@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root{
  --roxo1:#0e0d41;
  --roxo2:#03040F;
  --verde:#05b451;
  --branco:#fff;

}

html,
body {
  font-family: Ubuntu, arial;
  width: 100%;
  height: 100%;
}

.sideBarDiv{
  width:60px;
  height:100%;
  background:var(--roxo1);
  position:fixed;
}

.sideBarDiv .menuSideBarDiv i{
  font-size:28px;
  font-family:Ubuntu,arial;
  text-decoration:none;
  color:var(--branco);
  border-radius:50%;
  display:flex;
  justify-content:center;
  align-items:center;
  padding:0.8rem;
  transition: ease-in-out 0.3s;
}

.sideBarDiv li i{
  font-size:24px;
  font-family:Ubuntu,arial;
  text-decoration:none;
  color:var(--branco);
  border-radius:50%;
  display:flex;
  justify-content:center;
  align-items:center;
  padding:0.9rem;
  transition: ease-in 0.3s;
}

.sideBarDiv li i:hover,
.sideBarDiv .menuSideBarDiv i:hover{
  color:var(--verde)
}

.sideBarDiv li a{
    text-decoration:none;
    color:var(--branco);
}

.container main{
  width:100%;
  height:auto;
  background:var(--roxo2);
  margin-left:300px;
}

.imgPerfil img{
  width:300px;
  height:auto;
  border:#000 2px solid;
  border-radius:50%;
}

.tittle h1{
  font-size:32px;
  font-family:Ubuntu,arial;
  text-decoration:none;
  color:var(--branco);
}

.tittle span{
  font-size:28px;
  font-family:Ubuntu,arial;
  text-decoration:none;
  color:var(--branco);
}